* {
    margin: 0;
    padding: 0;
    font-family: 'Lato' sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(pexels-pixabay-39396.jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer {
    width: 100%;
    font-size: 72px;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;

}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 50px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orangered;
}

#reset {
    background-color: red;
}